<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <div id="app2">
        <span :title="message">
            测试一下
        </span>
    </div>

    <div id="app3">
        <p v-if="seen">{{content}}</p>
    </div>

    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">反转信息</button>
    </div>

    <div id="app6">
        <p>{{ message }}</p>
        <input type="text" v-model="message">
    </div>

    <div id="app7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <div id="app8">
        <h1>Hello App!</h1>
        <p>
            <!-- 使用 router-link 组件来导航. -->
            <!-- 通过传入 `to` 属性指定链接. -->
            <!-- <router-link> 默认会被渲染成一个 `<a>` 标签 -->
            <router-link to="/foo">Go to Foo</router-link>
            <router-link to="/bar">Go to Bar</router-link>
            <router-link to="/qux">Go to Qux</router-link>
            <a href="#" @click="push">Go to Baz</a>
            <a href="#" @click="pushWildcard">Go to *</a>
            
        </p>
        <!-- 路由出口 -->
        <!-- 路由匹配到的组件将渲染在这里 -->
        <router-view></router-view>
    </div>


    <script>
        // 声明式渲染
        var vm = new Vue({
            el: "#app",
            data: {
                message: "i am back"
            }
        })

        var vm2 = new Vue({
            el: "#app2",
            data: {
                message: '页面加载于' + new Date().toLocaleString()
            }
        })

        // 条件与循环
        var vm3 = new Vue({
            el: "#app3",
            data: {
                seen: true,
                content: '123'
            }
        })

        var vm4 = new Vue({
            el: "#app4",
            data: {
                todos: [{
                        text: '学习 Javascript'
                    },
                    {
                        text: '学习 Typescript'
                    },
                    {
                        text: '学习 Vue'
                    },
                    {
                        text: '整个有意义的项目'
                    }
                ]
            }
        })

        // 处理用户输入
        var vm5 = new Vue({
            el: "#app5",
            data: {
                message: "Hello Vue.js"
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        })

        var vm6 = new Vue({
            el: "#app6",
            data: {
                message: 'Hello Vue!'
            }
        })

        // 组件化应用构建
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var vm7 = new Vue({
            el: "#app7",
            data: {
                groceryList: [{
                        id: 0,
                        text: '蔬菜'
                    },
                    {
                        id: 1,
                        text: '水果'
                    }
                ]
            }
        })
        // vm3.seen = true;
        vm4.todos.push({
            text: '抽时间重构旧项目'
        });

        // vue router 例子
        // 0. 如果使用模块化机制编程，导入Vue和VueRouter，要调用 Vue.use(VueRouter)

        // 1. 定义 (路由) 组件。
        // 可以从其他文件 import 进来
        const Foo = {
            template: '<div>foo</div>'
        }
        const Bar = {
            template: '<div>bar</div>'
        }
        const Baz = {
            template: '<div>baz {{ $route.params.id }}</div>'
        }
        const UnfoundPage = {
            template: '<div>404 {{ $route.params.pathMatch }}</div>'
        }

        // 2. 定义路由
        // 每个路由应该映射一个组件。 其中"component" 可以是
        // 通过 Vue.extend() 创建的组件构造器，
        // 或者，只是一个组件配置对象。
        // 我们晚点再讨论嵌套路由。
        const routes = [
            
            {
                path: '/foo',
                component: Foo
            },
            {
                path: '/bar',
                component: Bar
            },
            {
                path: '/baz/:id',
                component: Baz
            },
            {
                // 会匹配所有路径
                path: '*',
                component: UnfoundPage
            },
            
        ]

        // 3. 创建 router 实例，然后传 `routes` 配置
        // 你还可以传别的配置参数, 不过先这么简单着吧。
        const router = new VueRouter({
            routes // (缩写) 相当于 routes: routes
        })

        // 4. 创建和挂载根实例。
        // 记得要通过 router 配置参数注入路由，
        // 从而让整个应用都有路由功能
        const app = new Vue({
            router,
            methods: {
                push() {
                    this.$router.push('/baz/home')
                },
                pushWildcard(){
                    this.$router.push('/non-existing')
                    this.$route.params.pathMatch // '/non-existing'
                }
            }
        }).$mount('#app8')

        // 现在，应用已经启动了！
    </script>
</body>

</html>